<aside class="app-sidebar d-flex flex-column">
    <div class="app-logo flex-shrink-0" data-prefix="v5.1.0" data-action="playsound" data-soundpath="media/sound/" data-soundfile="sawhisp.mp3">
        <!-- <img src="img/logo.svg" alt="logo"> -->
        <!-- please check docs on how to update this logo different dimensions -->
        <svg class="custom-logo">
            <use href="img/app-logo.svg#custom-logo"></use>
        </svg>
        <div class="logo-backdrop">
            <div class="blobs">
                <svg viewbox="0 0 1200 1200">
                    <g class="blob blob-1">
                        <path />
                    </g>
                    <g class="blob blob-2">
                        <path />
                    </g>
                    <g class="blob blob-3">
                        <path />
                    </g>
                    <g class="blob blob-4">
                        <path />
                    </g>
                    <g class="blob blob-1 alt">
                        <path />
                    </g>
                    <g class="blob blob-2 alt">
                        <path />
                    </g>
                    <g class="blob blob-3 alt">
                        <path />
                    </g>
                    <g class="blob blob-4 alt">
                        <path />
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <form class="app-menu-filter-container px-4">
        <input type="text" class="form-control" id="searchInput" placeholder="Filter" autocomplete="off">
        <div class="js-filter-message nav-filter-msg badge bg-secondary btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Clear filter"></div>
    </form>
    <nav id="js-primary-nav" class="primary-nav flex-grow-1 custom-scroll">
        <ul id="js-nav-menu" class="nav-menu">
            <li class="nav-title"><span>Insights</span></li>
            <li class="nav-item ">
                <a href="#" title="Dashboards" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#trello"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Dashboards</span>
                    <span class="badge bg-danger-700 badge-end">New</span>
                </a>
                <ul>
                    <li class="">
                        <a href="controlcenterdashboard.html">
                            <span class="nav-link-text" data-i18n="">Control Center</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="subscriptiondashboard.html">
                            <span class="nav-link-text" data-i18n="">Subscription & Billing</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="marketingdashboard.html">
                            <span class="nav-link-text" data-i18n="">Marketing & Sales</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="projectmanagementdashboard.html">
                            <span class="nav-link-text" data-i18n="">Project Management</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-title"><span>Config</span></li>
            <li class="">
                <a href="appintel.html">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#cpu"></use>
                    </svg>
                    <span class="nav-link-text">Application Intel</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="#" title="Documentation" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#book-open"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Documentation</span>
                </a>
                <ul>
                    <li class="">
                        <a href="buildnotes.html">
                            <span class="nav-link-text" data-i18n="">Build notes</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="gettingstarted.html">
                            <span class="nav-link-text" data-i18n="">Getting Started</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" title="Core Plugins" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Core Plugins</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="smartappjs.html">
                                    <span class="nav-link-text" data-i18n="">App DOM</span>
                                    <span class="badge bg-danger badge-end">P</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="smartnavigationjs.html">
                                    <span class="nav-link-text" data-i18n="">Smart Navigation</span>
                                    <span class="badge bg-danger badge-end">P</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="smartfilterjs.html">
                                    <span class="nav-link-text" data-i18n="">Smart Filter</span>
                                    <span class="badge bg-warning text-dark badge-end">D</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="sortablejs.html">
                                    <span class="nav-link-text" data-i18n="">Sortable</span>
                                    <span class="badge bg-warning text-dark badge-end">D</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="bootstrapbundlejs.html">
                                    <span class="nav-link-text" data-i18n="">Bootstrap Bundle</span>
                                    <span class="badge bg-warning text-dark badge-end">D</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="smartslimscrolljs.html">
                                    <span class="nav-link-text" data-i18n="">Smart Slim Scroll</span>
                                    <span class="badge bg-success badge-end">O</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="wavesjs.html">
                                    <span class="nav-link-text" data-i18n="">Waves</span>
                                    <span class="badge bg-success badge-end">O</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" title="Addons & Other Plugins" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Addons & Other Plugins</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="apexbarchartjs.html">
                                    <span class="nav-link-text" data-i18n="">apexbarchart.js</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="easypiechartjs.html">
                                    <span class="nav-link-text" data-i18n="">easypiechart.js</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="fullcalendarjs.html">
                                    <span class="nav-link-text" data-i18n="">fullcalendar.js</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="peitychartsjs.html">
                                    <span class="nav-link-text" data-i18n="">peitycharts.js</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="smarttablesjs.html">
                                    <span class="nav-link-text" data-i18n="">smartTables.js</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="streamlinejs.html">
                                    <span class="nav-link-text" data-i18n="">streamline.js</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-title"><span>Design</span></li>
            <li class="nav-item active">
                <a href="#" title="UI Components" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#layers"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">UI Components</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="javascript:void(0);" title="Core elements" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Core elements</span>
                        </a>
                        <ul>
                            <li class="active">
                                <a href="alerts.html">
                                    <span class="nav-link-text" data-i18n="">Alerts</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="accordions.html">
                                    <span class="nav-link-text" data-i18n="">Accordions</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="badges.html">
                                    <span class="nav-link-text" data-i18n="">Badges</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="buttons.html">
                                    <span class="nav-link-text" data-i18n="">Buttons</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="buttongroup.html">
                                    <span class="nav-link-text" data-i18n="">Button Group</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="cards.html">
                                    <span class="nav-link-text" data-i18n="">Cards</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" title="Menu & Links" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Menu & Links</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="breadcrumbs.html">
                                    <span class="nav-link-text" data-i18n="">Breadcrumbs</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="dropdowns.html">
                                    <span class="nav-link-text" data-i18n="">Dropdowns</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="navbars.html">
                                    <span class="nav-link-text" data-i18n="">Navbars</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="pagination.html">
                                    <span class="nav-link-text" data-i18n="">Pagination</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="scrollspy.html">
                                    <span class="nav-link-text" data-i18n="">ScrollSpy</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" title="Interactive Features" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Interactive Features</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="collapse.html">
                                    <span class="nav-link-text" data-i18n="">Collapse</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="modal.html">
                                    <span class="nav-link-text" data-i18n="">Modal</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="tabsandpills.html">
                                    <span class="nav-link-text" data-i18n="">Tabs & Pills</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="tooltips.html">
                                    <span class="nav-link-text" data-i18n="">Tooltips</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="popovers.html">
                                    <span class="nav-link-text" data-i18n="">Popovers</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="toasts.html">
                                    <span class="nav-link-text" data-i18n="">Toasts</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" title="Visual Feedback" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Visual Feedback</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="progressbars.html">
                                    <span class="nav-link-text" data-i18n="">Progress Bars</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="spinners.html">
                                    <span class="nav-link-text" data-i18n="">Spinners</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="carousels.html">
                                    <span class="nav-link-text" data-i18n="">Carousels</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" title="Advanced Features" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Advanced Features</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="panels.html">
                                    <span class="nav-link-text" data-i18n="">Panels</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="listfilter.html">
                                    <span class="nav-link-text" data-i18n="">List Filter</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="sidepanels.html">
                                    <span class="nav-link-text" data-i18n="">Side Panels</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="#" title="System Utilities" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#package"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">System Utilities</span>
                </a>
                <ul>
                    <li class="">
                        <a href="javascript:void(0);" title="Layout Adjustments" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Layout Adjustments</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="borders.html">
                                    <span class="nav-link-text" data-i18n="">Borders</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="displayproperty.html">
                                    <span class="nav-link-text" data-i18n="">Display Property</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="responsivegrid.html">
                                    <span class="nav-link-text" data-i18n="">Responsive Grid</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="position.html">
                                    <span class="nav-link-text" data-i18n="">Position</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" title="Design Essentials" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Design Essentials</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="colorpalette.html">
                                    <span class="nav-link-text" data-i18n="">Color Palette</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="typography.html">
                                    <span class="nav-link-text" data-i18n="">Typography</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="sizing.html">
                                    <span class="nav-link-text" data-i18n="">Sizing</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="spacing.html">
                                    <span class="nav-link-text" data-i18n="">Spacing</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="figmafile.html">
                                    <span class="nav-link-text" data-i18n="">Figma File</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" title="Interactive Features" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Interactive Features</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="flexbox.html">
                                    <span class="nav-link-text" data-i18n="">Flexbox</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="helpers.html">
                                    <span class="nav-link-text" data-i18n="">Helpers</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="visibilitygenerator.html">
                                    <span class="nav-link-text" data-i18n="">Visibility Generator</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="#" title="Iconography" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#heart"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Iconography</span>
                </a>
                <ul>
                    <li class="">
                        <a href="systemicons.html">
                            <span class="nav-link-text" data-i18n="">System Icons</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" title="Font Icons" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Font Icons</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="fontawesome.html">
                                    <span class="nav-link-text" data-i18n="">FontAwesome 5.3</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="smartadminicons.html">
                                    <span class="nav-link-text" data-i18n="">SmartAdmin Icons 1.0</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="stackgenerator.html">
                            <span class="nav-link-text" data-i18n="">Stack Generator</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="stacklibrary.html">
                            <span class="nav-link-text" data-i18n="">Stack Library</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="#" title="Tables" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#table"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Tables</span>
                </a>
                <ul>
                    <li class="">
                        <a href="basictables.html">
                            <span class="nav-link-text" data-i18n="">Basic Tables</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="tablesstylegenerator.html">
                            <span class="nav-link-text" data-i18n="">Tables Style Generator</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="#" title="Forms" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#edit"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Forms</span>
                </a>
                <ul>
                    <li class="">
                        <a href="inputs.html">
                            <span class="nav-link-text" data-i18n="">Inputs</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="checkboxandradio.html">
                            <span class="nav-link-text" data-i18n="">Checkbox & Radio</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="groups.html">
                            <span class="nav-link-text" data-i18n="">Groups</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="validation.html">
                            <span class="nav-link-text" data-i18n="">Validation</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-title"><span>Data Visualization</span></li>
            <li class="nav-item ">
                <a href="#" title="Apex Charts" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#pie-chart"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Apex Charts</span>
                </a>
                <ul>
                    <li class="">
                        <a href="apexareachart.html">
                            <span class="nav-link-text" data-i18n="">Area Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexbarchart.html">
                            <span class="nav-link-text" data-i18n="">Bar Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexboxwhiskerchart.html">
                            <span class="nav-link-text" data-i18n="">Box & Whisker Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexbubblechart.html">
                            <span class="nav-link-text" data-i18n="">Bubble Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexcandlestickchart.html">
                            <span class="nav-link-text" data-i18n="">Candlestick Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexcolumnchart.html">
                            <span class="nav-link-text" data-i18n="">Column Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexfunnelchart.html">
                            <span class="nav-link-text" data-i18n="">Funnel Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexheatmapchart.html">
                            <span class="nav-link-text" data-i18n="">Heatmap Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexlinechart.html">
                            <span class="nav-link-text" data-i18n="">Line Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexmixedcombochart.html">
                            <span class="nav-link-text" data-i18n="">Mixed/Combo Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexpiedonut.html">
                            <span class="nav-link-text" data-i18n="">Pie/Donuts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexpolarareachart.html">
                            <span class="nav-link-text" data-i18n="">Polar Area Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexradarchart.html">
                            <span class="nav-link-text" data-i18n="">Radar Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexradialbarscirclechart.html">
                            <span class="nav-link-text" data-i18n="">RadialBars/Circle Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexrangeareachart.html">
                            <span class="nav-link-text" data-i18n="">Range Area Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexscatterchart.html">
                            <span class="nav-link-text" data-i18n="">Scatter Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexslopechart.html">
                            <span class="nav-link-text" data-i18n="">Slope Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apexsparkline.html">
                            <span class="nav-link-text" data-i18n="">Sparklines</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apextimelinechart.html">
                            <span class="nav-link-text" data-i18n="">Timeline Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="apextreemapchart.html">
                            <span class="nav-link-text" data-i18n="">Treemap Charts</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="#" title="Data Bites" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#grid"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Data Bites</span>
                </a>
                <ul>
                    <li class="">
                        <a href="peitycharts.html">
                            <span class="nav-link-text" data-i18n="">Peity Charts</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="streamline.html">
                            <span class="nav-link-text" data-i18n="">Streamline</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="easypiechart.html">
                            <span class="nav-link-text" data-i18n="">Easy Pie Chart</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="fullcalendar.html">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#calendar"></use>
                    </svg>
                    <span class="nav-link-text">Full Calendar</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="#" title="Smart Tables" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#database"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Smart Tables</span>
                    <span class="badge bg-primary-500 badge-end">1.2.7</span>
                </a>
                <ul>
                    <li class="">
                        <a href="smarttablesminimal.html">
                            <span class="nav-link-text" data-i18n="">Minimal Settings</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="smarttablesresponsive.html">
                            <span class="nav-link-text" data-i18n="">Responsive Settings</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="smarttablesimportexportdata.html">
                            <span class="nav-link-text" data-i18n="">Import & Export Data</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="smarttablesjsonsource.html">
                            <span class="nav-link-text" data-i18n="">JSON Data Source</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="smarttablesmanagerecords.html">
                            <span class="nav-link-text" data-i18n="">Manage Records</span>
                            <span class="badge bg-warning text-dark badge-end">New</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="smarttablesfuzzymatching.html">
                            <span class="nav-link-text" data-i18n="">Fuzzy Matching</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="smarttablesserverside.html">
                            <span class="nav-link-text" data-i18n="">Server-Side Mode</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-title"><span>Layouts</span></li>
            <li class="nav-item ">
                <a href="#" title="Access Control" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#slash"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Access Control</span>
                </a>
                <ul>
                    <li class="">
                        <a href="allauthpages.html">
                            <span class="nav-link-text" data-i18n="">Authentication Pages</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="emaildesign.html">
                            <span class="nav-link-text" data-i18n="">Email Templates</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="errorpages.html">
                            <span class="nav-link-text" data-i18n="">Error Pages</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="profile.html">
                            <span class="nav-link-text" data-i18n="">User Profile</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="#" title="Communication" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#message-square"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Communication</span>
                </a>
                <ul>
                    <li class="">
                        <a href="messenger.html">
                            <span class="nav-link-text" data-i18n="">Messenger & Chat</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="systemmail.html">
                            <span class="nav-link-text" data-i18n="">System Mail</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="usercontact.html">
                            <span class="nav-link-text" data-i18n="">User Contact</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a href="#" title="Miscellaneous" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="img/sprite.svg#archive"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Miscellaneous</span>
                </a>
                <ul>
                    <li class="">
                        <a href="#" title="Forum Views" data-filter-tags="">
                            <span class="nav-link-text" data-i18n="">Forum Views</span>
                        </a>
                        <ul>
                            <li class="">
                                <a href="forum.html">
                                    <span class="nav-link-text" data-i18n="">General</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="forum-threads.html">
                                    <span class="nav-link-text" data-i18n="">Threads</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="forum-discussion.html">
                                    <span class="nav-link-text" data-i18n="">Discussions</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="search.html">
                            <span class="nav-link-text" data-i18n="">Search</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="no-results-msg pt-3 info-container">
            <h6 class="mb-1"> No menu items found.</h6>
            <p class="fs-sm">Try searching with different keywords.</p>
            <div class="d-flex align-items-center gap-1 fs-xs fw-500 font-style-italic">
                <kbd class="kbd-key">
                    <svg width="15" height="15" aria-label="Escape key" role="img">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2">
                            <path d="M13.6167 8.936c-.1065.3583-.6883.962-1.4875.962-.7993 0-1.653-.9165-1.653-2.1258v-.5678c0-1.2548.7896-2.1016 1.653-2.1016.8634 0 1.3601.4778 1.4875 1.0724M9 6c-.1352-.4735-.7506-.9219-1.46-.8972-.7092.0246-1.344.57-1.344 1.2166s.4198.8812 1.3445.9805C8.465 7.3992 8.968 7.9337 9 8.5c.032.5663-.454 1.398-1.4595 1.398C6.6593 9.898 6 9 5.963 8.4851m-1.4748.5368c-.2635.5941-.8099.876-1.5443.876s-1.7073-.6248-1.7073-2.204v-.4603c0-1.0416.721-2.131 1.7073-2.131.9864 0 1.6425 1.031 1.5443 2.2492h-2.956"></path>
                        </g>
                    </svg>
                </kbd> to reset
            </div>
        </div>
    </nav>
    <div class="nav-footer">
        <svg class="sa-icon sa-thin sa-icon-success">
            <use href="img/sprite.svg#wifi"></use>
        </svg>
    </div>
</aside>
