@model DataModel.Tables.Tamano
@{
    ViewData["Title"] = "Tamano Registro/Edicion";
}

<nav class="app-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb ms-0">
        <li class="breadcrumb-item">Tamano</li>
        <li class="breadcrumb-item" aria-current="page">Datos General</li>
    </ol>
</nav>
<h1 class="subheader-title position-relative">
    Datos Generales
    <small> detalle de datos de Tamano</small>
</h1>
<div class="main-content">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Save" asp-controller="Tamano" method="post">
                        <input type="hidden" asp-for="IdTam" value="@Model.IdTam">
                        <input type="hidden" asp-for="RegDat" value="@Model.RegDat">
                        <input type="hidden" asp-for="Token" value="@Model.Token">
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="form-label">Tamano de Torta</label>
                                    <input type="text" class="form-control" asp-for="DesTam" />
                                    <span asp-validation-for="DesTam" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Precio de Venta</label>
                                    <input type="number" step=".01" class="form-control" asp-for="VendTam" />
                                    <span asp-validation-for="VendTam" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Estado</label>
                                    <select class="form-control" id="IsAct" asp-for="IsAct">
                                        @if (Model.IsAct.Value)
                                        {
                                            <option selected value="true">Activo</option>
                                            <option value="false">Inactivo</option>
                                        }
                                        else
                                        {
                                            <option value="true">Activo</option>
                                            <option selected value="false">Inactivo</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" mb-3>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                    <a href="@Url.Action("Index", "Tamano")" class="btn btn-secondary">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}